.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-bottom: 50px;
}

@font-face {
  font-family: 'Museo-Sans';
  src: url("./fonts/MuseoSans-300.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Museo-Sans';
  src: url("./fonts/MuseoSans-500.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Museo-Sans';
  src: url("./fonts/MuseoSans-700.ttf");
  font-style: normal;
  font-weight: 700;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

// ---------- HEADER ----------

.App-header{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.App-header-banner{
  @extend .flex-center;
  width: 100%;
  background-color: rgb(235,170,63);
  height: 40px;
  color: white;
}

.App-header-banner__text{
  font-weight: 300;
  font-size: 13px;
  font-family: 'Museo-Sans';
  font-weight: 300
}

.App-header-navigation{
  @extend .flex-center;
  height: 90px;
  width: 100%;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.App-header-menu__btn{
  width: 33%;
  height: 100%;
  display: none;
}

.App-header_menuIcon{
  cursor: pointer;
  width: 35px;
  margin-right: 10px
}

.App-header-navigation__img-container{
  @extend .flex-center;
  height: 100%;
  width: 20%;
}

.App-header-navigation__img{
  width: 186px;
}

.App-header-navigation-options{
  @extend .flex-center;
  justify-content: space-evenly;
  width: 60%;
  height: 100%;
}

.App-header-navigation-options__items{
  cursor: pointer;
  font-family: 'Museo-Sans';
  font-weight: 300;
  &:hover{
    color: rgb(73, 73, 73);
  }
}

.App-header-navigation__icons-container{
  @extend .flex-center;
  justify-content: space-evenly;
  width: 10%;
  margin: 0 5%;
  height: 100%;
}

.App-header__icon{
  width: 23px;
}

.App-header__icon{
  width: 23px;
}

// --------------------

// ---------- Deploy Menu ---------

.DeployMenu{
  @extend .flex-center;
  flex-direction: column;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.904);
  z-index: 3;
  position: fixed;
  display: none;
}

.DeployMenu__closeMark{
  display: flex;
  justify-content: flex-end;
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: sans-serif;
  cursor: pointer;
}

.DeployMenu__items{
  @extend .flex-center;
  flex-direction: column;
  margin-top: 50px;
  font-size: 20px;
}

.DeployMenu-login{
  @extend .flex-center;
  width: 100%;
  font-family: 'Museo-Sans';
  font-weight: 500;
  font-size: 20px;
}

// --------------------

// --------- MAIN ----------

.App-main{
  width: 100%;
  margin-bottom: 50px
}

.App-main-eckoContainer{
  @extend .flex-center;
  width: 100%;
  height: 126px;
}

.App-main__ecko__img{
  width: 200px;
}

.App-main-promoContainer{
  @extend .flex-center;
  justify-content: space-evenly;
  height: 350px;
  width: 100%;
}

.App-main__kitchenImg{
  width: 38%;
  height: 100%;
}

.App-main__bluePromoImg{
  width: 62%;
  height: 100%;
}


.App-main-heroContainer{
  @extend .flex-center;
  justify-content: space-between;
  height: 800px;
  margin: 0 75px;
}

.App-main-heroContainer-fryingPanContainer{
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.App-main__fryingPanImg{
  height: 710px;
}

.App-main-heroContainer-textContainer{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 32%;
  padding-right: 167px;
}

.App-main-heroContainer__h1{
  text-align: left;
  font-family: 'Museo-Sans';
  font-weight: 700;
  font-size: 55px;
}

.App-main-heroContainer__h2{
  text-align: left;
  font-family: 'Museo-Sans';
  font-weight: 300;
  margin-top: 30px;
}

.App-main-heroContainer__h5{
  text-align: left;
  font-size: 15px;
  color: rgb(131,131,131);
  font-family: 'Museo-Sans';
  font-weight: 300;
  margin-top: 30px;
}

.App-main-heroContainer__text{
  text-align: left;
  color: rgb(131,131,131);
  font-family: 'Museo-Sans';
  font-weight: 300;
  margin-top: -10px;
}

.App-main-heroContainer__btn{
  width: 90px;
  height: 26px;
  font-size: 14px;
  background-color: white;
  border: none;
  background:linear-gradient(to right, rgb(235,170,63) 50%, white 50%) bottom;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  outline: none;
  cursor: pointer;
  &:hover{
    background: rgb(235,170,63);
    color: white;
  }
}
// --------------------

// ---------- LO MAS VENDIDO ---------

  .App-losMasVendidos{
    @extend .flex-center;
    flex-direction: column;
    width: 100%;
  }

  .App-losMasVendidos__title{
    font-family: 'Museo-Sans';
    font-weight: 700;
    font-size: 50px;
  }

  .App-losMasVendidos-content{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(310px, 1fr));
    justify-self: center;
    width: 95%;
  }

  .App-losMasVendidos-box{
    flex-direction: column;
    width: 303px;
    height: 450px;
  }

  .App-losMasVendidos__subtitle{
    color: rgb(102,102,102);
    font-family: 'Museo-Sans';
    font-weight: 500;
    font-size: 25px;
  }

  .App-losMasVendidos__text{
    color: rgb(102,102,102);
    font-family: 'Museo-Sans';
    font-weight: 300;
    font-size: 15px;
  }

// --------------------

// -------- QUESTIONS & CHARACTER SECTION ---------

.App-characterAndQuestions-container{
  @extend .flex-center;
  width: 100%;
  margin-top: 100px;
}

.App-questions-container{
  @extend .flex-center;
  flex-direction: column;
  width: 50%;
}

.App-questions-inner-container{
  height: auto;
  width: 440px;
  @extend .flex-center;
  flex-direction: column;
  border-bottom: 2px solid rgb(102,102,102);
}

.App-questions-question-container{
  @extend .flex-center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  font-family: 'Museo-Sans';
  font-weight: 700;
  font-size: 30px;
}

.App__plus{
  cursor: pointer;
  font-family: monospace;
}

.App-question-textBox{
  width: 100%;
}

.App-question__text{
  font-size: 14px;
  color: rgb(102,102,102);
  font-family: 'Museo-Sans';
  font-weight: 300;
}

.App-character-container{
  @extend .flex-center;
  flex-direction: column;
  width: 50%;
}

.App-character-inner-container{
  @extend .flex-center;
  width: 100%;
}

.App-character__img-container{
  width: 50%;
  font-family: 'Museo-Sans';
  font-weight: 700;
}

.App-character__title{
  font-size: 30px;
}

.App-character__img{
  width: 350px;
  height: 350px;
}

.App-character-info-continer{
  width: 50%;
  margin-left: 10px;
  font-family: 'Museo-Sans';
  font-weight: 700;
  font-size: 20px;
}

.App-character-selector-container{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.App-character__info{
  font-weight: 300;
  font-size: 15px
}

.App-character-selector-container{
  @extend .flex-center;
}

// --------------------

//---------- MEDIA QUERYS ---------

@media only screen and (max-width: 1400px) {
  .App-main-promoContainer{
    flex-direction: column;
    height: auto;
  }

  .App-character-inner-container{
    flex-direction: column;
  }
}

@media only screen and (max-width: 1150px){
  .App-header-navigation-options{
    display: none;
  }

  .App-header-menu__btn{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .DeployMenu{
    display: block;
  }

  .App-header-navigation__img-container{
    width: 33%;
  }

  .App-header-navigation__icons-container{
    width: 33%;
  }
}

@media only screen and (max-width: 1000px) {
  .App-main-heroContainer{
    flex-direction: column;
    height: auto;
    margin: 0;
    width: 100%;
  }

  .App-main-promoContainer_imgs{
    display: flex;
    flex-direction: column;
  }

  .App-main__kitchenImg{
    width: 100vw;
  }

  .App-main__bluePromoImg{
    width: 100vw;
  }

  .App-header-navigation{
    justify-content: space-evenly;
  }

  .App-main-heroContainer-fryingPanContainer{
    width: 80%;
  }

  .App-main-heroContainer-textContainer{
    width: 80%;
    padding: 0;
  }

  .App-characterAndQuestions-container{
    flex-direction: column
  }
  
  .App-questions-container{
    width: 100%;
  }

  .App-character-container{
    width: 100%;
  }


}
@media only screen and (max-width: 750px){

  .App-character__img-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .App-character-info-continer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

@media only screen and (max-width: 630px) {
  .App-main__fryingPanImg{
    height: 60%;
    width: 60%;
  }

}

@media only screen and (max-width: 500px) {
  .App-questions-inner-container{
    width: 300px;
  }
}
